/*layout*/
main, #editdiv {
	margin: auto;
	max-width: 85ex;
	text-align: justify;
	hyphens: auto;
}
img, #edittext {width:100%}
header,footer {position:fixed;
	left:0px;
	right:0px;
}
header {
	top:0px;
}
footer {text-align:right;
	bottom:0px;
	padding: 1px 5px;
}
footer #about {float:left}
/*place for header and footer*/
main, #src, #editdiv { margin-top: 5ex; margin-bottom: 5ex }

/*nicer layout*/
header {display: flex; gap: 4px; padding:4px}
header input[type="url"] {flex-grow: 1;}

#src, #editdiv {color: white}
header, footer {background: lightgray;
	border:1px solid gray;
	z-index: 1;
}

/* article fanciness */
main {line-height: 1.5}
h1, h2, h3, p, blockquote, ul {margin: 0px}
h1:first-of-type {text-align: center;border-bottom: 1px solid lightgray; margin-bottom:1ex}
blockquote{
	padding: 1ex 2ex;
	position: relative;
	left: -1ex;
	width: calc(100% - 2ex);
}
.input {display: flex}
.input input {flex-grow: 1;}

/* links */
a{text-decoration: none}
a::before {
	width: 0px;
	display: inline-block;
	position: relative;
	left: -1em;
}
a.local::before{content: "→"}
a.external::before{content: "⇒"}
a.proxy::before{content: "k"}
a.http::before{content: "☞"}
a.mail::before{content: "✉"}
a.proto::before{content: "?"}

/*gopher*/
.gopher { line-height:1.3; }
.gopher p {
  font-family: monospace;
  white-space: pre;
}
#wrap:checked ~ pre{white-space: pre-line;}
